body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
}
.container{
    width: 500px;
    height: 500px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container--whiteLine{
    width: 350px;
    height: 350px;
    border: 20px white solid;
    border-radius: 90px;
}
.container--whiteLine--bubble{
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    float: right;
    margin: 25px;
}
.container-whiteLine--circle{
    width: 150px;
    height: 150px;
    border: 25px white solid;
    border-radius: 100px;
    margin: auto;
    margin-top: 80px;
}
footer{
    font-size: 20px;
    font-style: italic;
}